<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>就職活動申請詳細画面</title>
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>

</head>

<body class="bg-color-sky">
	<th:block th:insert="components/part::frag_header"></th:block>
	
	<h1 class="title">就職活動申請 詳細</h1>
	
		<div class="container mt-md-5">
			
			<!-- 共通部品挿入（メモまで） -->
			<th:block th:insert="components/part::frag_detail (${jobRequestData})"></th:block>
			
			<!-- メモ以降追加 -->
			<div class="row mt-md-5">
				<div class="col-md-5 ">
					<p class="font-weight-bold h4">現在の申請状態</p>
					<div class="card center-block w-50" style="border-radius: 75px; margin: 0 auto;">
						<div class="card-body">

							<p th:text="${jobRequestData.status.value}"></p>

						</div>
					</div>
				</div>
				<div class="col-md-7">
					<p class="font-weight-bold h4">指摘事項</p>
					<div class="card">
						<div class="card-body">
							<p th:text="${jobRequestData.indicate}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>