<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>就職活動報告修正画面</title>



    <meta id="viewport" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="../../../static/css/manifest.json" crossorigin="use-credentials">
    <meta name="application-name" content="WebPortal">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="WebPortal">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <link rel="icon" sizes="192x192" href="/img/favicon.ico">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.ico" sizes="192x192">
    <link rel="apple-touch-icon" href="/img/favicon.ico" sizes="58x58">

    <!-- FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css" />
    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="../../../static/css/ress.css">





    <style>
        h1.title {
            font-size: 24px;
        }

        @media only screen and (min-width:651px) {

            /* 中画面用 */
            h1.title {
                font-size: 26px;
            }
        }

        @media only screen and (min-width:961px) {

            /* 大画面用 */
            h1.title {
                font-size: 28px;
            }
        }

        .required:after {
            content: " *";
            color: #E00;
        }
    </style>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand title-font" href="/"><img src=”../../static/img/bootstrap-solid.svg” width="30"
                height="30" class="d-inline-block align-top" alt="">
            就活ポータル.com</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100 nav-justified" id="navbar-main">
                <a class="nav-item nav-link active" href="/">就職活動管理</a>
                <a class="nav-item nav-link active" href="/report/list">受験報告管理</a>


                <a class="nav-item nav-link active" href="/">証明書管理</a>




                <a class="nav-item nav-link active" href="/"><i class="fas fa-envelope"></i>メッセージ</a>
                <a class="nav-item nav-link active" href="/"><i class="fas fa-cog"></i>設定</a>
                <a class="nav-item nav-link active" href="/logout">Log out</a>
            </div>
        </div>
    </nav>


    <h1 class="title ml-md-5 text-sm-center text-md-left pl-md-5">就職活動申請 新規登録</h1>

    <form class="container mt-md-5" method="post" action="/job/report/fix">


        <div class="row mt-md-4 pr-md-5">
            <div class="col-md-2 pr-md-5">
                <span><small class="text-muted">クラス</small><span
                        class="float-md-right mt-md-1 font-weight-bold h4">S3A1</span></span>
            </div>
            <div class="col-md-1 offset-md-1">
                <label class="my-1 mr-2"><small class="text-muted">番号</small></label>
                <select name="class_number" id="class_number" class="float-md-right mt-md-1 font-weight-bold h4">
                    <option value="S3A1">00</option>
                    <option value="S3A2">01</option>
                    <option value="S3A3">02</option>
                </select>
                

            </div>
            <div class="col-md-2 offset-md-1 pr-md-5">
                <span><small class="text-muted">氏名</small><span
                        class="float-md-right mt-md-1 font-weight-bold h4">石田悠介</span></span>

            </div>
        </div>




        <div class="row mt-md-4 pr-md-5">
            <div class="col-md-2 pr-md-5">
                <span><small class="text-muted">クラス</small><span
                        class="float-md-right mt-md-1 font-weight-bold h4">S3A1</span></span>
            </div>
            <div class="col-md-1 offset-md-1">
                <span><small class="text-muted">番号</small><span
                        class="float-md-right mt-md-1 font-weight-bold h4 ">01</span></span>
            </div>
            <div class="col-md-2 offset-md-1 pr-md-5">
                <span><small class="text-muted">氏名</small><span
                        class="float-md-right mt-md-1 font-weight-bold h4">石田悠介</span></span>
            </div>
        </div>

        <br>
        <br>

        <div class="form-group row mt-md-5">
            <div class="col-md-3">
                <p class="font-weight-bold h5 mt-md-1">申請種別</p>
                <small class="text-danger">※必須</small>
            </div>
            <div class="col-md-6">
                <div class="form-group input-box">
                    <div class="checkbox-inline" style="margin-right:10%;">
                        <input type="radio" name="apply_type" value="0">
                        <label>個人</label>
                    </div>
                    <div class="checkbox-inline" style="margin-left:10%;">
                        <input type="radio" name="apply_type" value="1">
                        <label>とりまとめ</label>
                    </div>

                    <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-3">
                <p class="font-weight-bold h5 ">企業名</p>
                <small class="text-danger">※必須</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="company_name">
                <small class="form-text text-md-left text-danger">エラーメッセージ</small>
            </div>
        </div>


        <div class="form-group row mt-md-5">
            <div class="col-md-3">
                <p class="font-weight-bold h5 ">内容</p>
                <small class="text-danger">※必須</small>
            </div>
            <div class="col-md-6">
                <div class="form-group input-box">
                    <div class="checkbox-inline" style="margin-right:5%;">
                        <input type="radio" name="content" value="1">
                        <label>合企</label>
                    </div>
                    <div class="checkbox-inline" style="margin-right:5%;">
                        <input type="radio" name="content" value="2">
                        <label>単独</label>
                    </div>
                    <div class="checkbox-inline" style="margin-right:5%;">
                        <input type="radio" name="content" value="3">
                        <label>試験</label>
                    </div>
                    <div class="checkbox-inline" style="margin-right:5%;">
                        <input type="radio" name="content" value="99">
                        <label>その他</label>
                    </div>

                    <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-3">
                <p class="font-weight-bold h5 mt-md-5">開始時刻・終了日時</p>
                <small class="text-danger">※必須</small>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>開始</label>
                        <input type="datetime-local" class="form-control mr-md-5" name="date_activity_from">
                        <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                    </div>
                    <div class="col-md-6">
                        <label>終了</label>
                        <input type="datetime-local" class="form-control mr-md-5" name="date_activity_to">
                        <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <br>

        <div class="form-group row">
            <div class="col-md-3">
                <p class="font-weight-bold h5 ">郵便番号</p>
            </div>
            <div class="col-md-4 form-inline justify-content-center justify-content-md-start">
                <input type="text" class="form-control w-50" id="zipcode">
                <button class="btn btn-primary" type="button" id="zip-btn">検索</button>
            </div>
        </div>

        <br>
        <br>

        <div class="form-group row">
            <div class="col-md-3">
                <p class="font-weight-bold h5 ">場所</p>
                <small class="text-danger">※必須</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="loc" name="loc">
                <small class="form-text text-md-left text-danger">エラーメッセージ</small>
            </div>
        </div>


        <br>
        <br>

        <div class="form-group row">
            <div class="col-md-3">
                <p class="font-weight-bold h5" style="margin-top: 90px;">手段</p>
                <small class="text-danger">※必須</small>
            </div>
            <div class="col-md-6">
                <div class="form-group input-box pull-left">
                    <div class="row">
                        <div class="col-md-2 mt-md-5">
                            <input type="checkbox" name="way" value="0">
                            <label>欠席</label>
                        </div>
                        <div class="col-md-5">
                            <label>開始</label>
                            <input type="datetime-local" class="form-control" name="date_absence_from">
                            <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                        </div>
                        <div class="col-md-5">
                            <label>終了</label>
                            <input type="datetime-local" class="form-control" name="date_absence_to">
                            <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 mt-md-2">
                            <input type="checkbox" name="way" value="1">
                            <label>早退</label>
                        </div>
                        <div class="col-md-5">
                            <input type="datetime-local" class="form-control" name="leave_eary_date">
                            <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 mt-md-2">
                            <input type="checkbox" name="way" value="2">
                            <label>遅刻</label>
                        </div>
                        <div class="col-md-5">
                            <input type="datetime-local" class="form-control" name="attendance_date">
                            <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                        </div>
                    </div>


                    <small class="form-text text-md-left text-danger">エラーメッセージ</small>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="form-group row">
            <div class="col-md-3">
                <p class="font-weight-bold h5 mt-md-5">メモ</p>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" id="remark" name="remark" rows="5" cols="50"></textarea>
            </div>
        </div>

        <br>
        <br>
        <br>

        <button type="submit" class="btn btn-primary"
            style="-webkit-appearance: none; width: 200px; height: 50px; font-size: 23px;">登録</button>
    </form>


    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
        integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"
        integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- オリジナルスクリプト -->
    <script src="/js/common.js"></script>
    <script src="../../../static/js/zipcode.js"></script>


    <script>

    </script>
</body>

</html>