<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8">
<title>就職活動申請新規登録画面</title>
    
    
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>
</head>

<body>

	<th:block th:insert="components/part::frag_header"></th:block>
	
	<!-- 作成中 -->
	<th:block th:insert="components/part::frag_script"></th:block>
	<div class="container">
		<div class="content-box">
			<h2>就職活動申請新規登録</h2>

			<div class="input-form">
				<form method="post" th:action="@{/job/request/insert}">
				
					<th:block role="presentation"
					sec:authorize="hasAnyRole('ROLE_TEACHER', 'ROLE_STAFF')">
					
					<div class="form-group input-box">
					<label for="class">クラス</label>
					<select name="class" id="classi">
						<option value="S3A1">S3A1</option>
						<option value="S3A2">S3A2</option>
						<option value="S3A3">S3A3</option>
					</select>
					
					<label for="number" id="number">番号</label>
					<select name="number">
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
					</select>
					
					<input type="button" value="検索" onclick="getUserId();" />
					
					<span id="userId"></span>
					</div>
					
					</th:block>
				
					<label for="apply_type">申請種別</label>
					<div class="form-group input-box">
						<input type="radio" name="apply_type" value="0">個人
						<input type="radio" name="apply_type" value="1">とりまとめ
					</div>

					<label for="company_name">企業名</label>
					<div class="form-group input-box">
						<input type="text" class="form-control" name="company_name">
					</div>
					
					<label for="content">内容</label>
					<div class="form-group input-box">
						<input type="radio" name="content" value="1">合企
						<input type="radio" name="content" value="2">単独
						<input type="radio" name="content" value="3">試験
						<input type="radio" name="content" value="99">その他
					</div>
					
					<label for="date_activity">開始時刻・終了日時</label>
					<div class="form-group input-box">
						<input type="datetime-local" class="form-control" name="date_activity_from">
						<input type="datetime-local" class="form-control" name="date_activity_to">
					</div>
					
					<label for="post">郵便番号</label>
					<div class="form-group input-box">
						<input type="text" class="form-control" name="post">
					</div>
					
					<label for="loc">場所</label>
					<div class="form-group input-box">
						<input type="text" class="form-control" name="loc">
					</div>
					
					<label for="way">手段</label>
					<div class="form-group input-box">
						<input type="checkbox" name="way" value="0">欠席
						開始<input type="datetime-local" class="form-control" name="date_absence_from">
						終了<input type="datetime-local" class="form-control" name="date_absence_to">
						<input type="checkbox" name="way" value="1">早退
						<input type="datetime-local" class="form-control" name="leave_eary_date">
						<input type="checkbox" name="way" value="2">遅刻
						<input type="datetime-local" class="form-control" name="attendance_date">
					</div>
					
					
					<label for="remark">メモ</label>
					<div class="form-group input-box">
						<textarea rows="10" cols="60" class="form-control" name="remark"></textarea>
					</div>


					<button type="submit" class="btn btn-warning">登録</button>
				</form>
			</div>
		</div>
	</div>
<script>
function getUserId(){
    const classi = document.getElementById('classi').value;
    const number = document.getElementById('number').value;
 
    // AjaxにてDemoControllerクラスのsearchメソッドを呼び出す
    let request = new XMLHttpRequest();
    request.open("get", "/search?classi=" + classi + "?number=" + number, true);
    request.send(null);
    request.onload = function (event) {
       // Ajaxが正常終了した場合
       if (request.readyState === 4 && request.status === 200) {
          // 該当するデータが無かった場合
          if(!request.responseText){
              alert("該当するデータはありませんでした");
              return;
          }
          // 該当するデータがあった場合は、取得したUserDataオブジェクトの内容を画面に
          // 表示する。その際、名前・性別・メモはデコードする
          const userId = request.responseText;
          document.getElementById('userId').textContent = userId;
       // Ajaxが異常終了した場合
       }else{
          alert("エラーが発生し、データが取得できませんでしたよ」");
       }
    };
    // Ajaxが異常終了した場合
    request.onerror = function (event) {
       alert("エラーが発生し、データが取得できませんでしたあああ");
    }
}

</script>
</body>

</html>