<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>ユーザ管理</title>
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>
<script type="text/javascript">
function clickBtn2(){
	document.getElementById("dis1").setAttribute("disabled", true);
	document.getElementById("dis2").setAttribute("disabled", true);
}
</script>
<script type="text/javascript">
function clickBtn1(){
	document.getElementById("dis1").removeAttribute("disabled");
	document.getElementById("dis2").removeAttribute("disabled");
}
</script>
</head>
<body>
	<th:block th:insert="components/part::frag_header"></th:block>

	<th:block th:insert="components/part::frag_script"></th:block>
	<div class="container">
		<div class="content-box">
			<form method="post" name="userInsert" th:action="@{/user/insert}">
				<table>
					<tr>
						<th>ユーザID（メールアドレス）</th>
						<td><input type="text" class="form-control" name="user_id"
							placeholder="(例)xxx.@xxx.xx"></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td><input type="password" class="form-control"
							name="encrypted_password" placeholder="4～100文字で入力すること"></td>
					</tr>
					<tr>
						<th>氏名</th>
						<td><input type="text" class="form-control" name="name"
							placeholder="(例)情報太郎"></td>
					</tr>
					<tr>
						<th>権限</th>
						<td><select name="role">
								<option value="ROLE_STUDENT" onclick="clickBtn1();">学生</option>
								<option value="ROLE_TEACHER" onclick="clickBtn2();">担任</option>
								<option value="ROLE_STAFF" onclick="clickBtn2();">事務</option>
						</select></td>
					</tr>
					<tr>
						<th>クラス番号</th>
						<td><input type="text" class="form-control" name="classroom"
							placeholder="SXAY" id="dis1"> <input type="text"
							class="form-control" name="class_number" placeholder="00" id="dis2"></td>
					</tr>
				</table>
				<button type="submit" class="btn btn-warning">登録</button>
			</form>
		</div>
	</div>
	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>