<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>ユーザ管理</title>
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>
</head>
</head>
<body>
	<th:block th:insert="components/part::frag_header"></th:block>

	<th:block th:insert="components/part::frag_script"></th:block>
	<form method="post" name="Search" th:action="@{/user/search}">
						<div class="input-group">
							<input type="text" class="form-control" name="search"
								placeholder="学生の氏名で検索"> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-success bg-info"
									id="search">検索</button>
							</span>
						</div>
					</form>
	<table>
		<thead>
			<tr>
				<th>ユーザID</th>
				<th>氏名</th>
				<th>所属クラス</th>
				<th>番号</th>
				<th>権限</th>
				<th>ダークモード</th>
				<th>アカウント有効性</th>
				<th>登録日時</th>
				<th>登録者</th>
				<th>更新日時</th>
				<th>更新者</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="userList : ${userEntity.userlist}">
				<td><span th:text="*{userList.user_id}"></span></td>
				<td><span th:text="*{userList.name}"></span></td>
				<td><span th:text="*{userList.classroom}"></span></td>
				<td><span th:text="*{userList.class_number}"></span></td>
				<td><span th:text="*{userList.role}"></span></td>
				<td><span th:if="*{userList.dark_mode}">ダークモード</span> <span
					th:if="*{!userList.dark_mode}">-</span></td>
				<td><span th:if="*{userList.enabled}">有効</span> <span
					th:if="*{!userList.enabled}">無効</span></td>
				<td><span th:text="*{userList.register_date}"></span></td>
				<td><span th:text="*{userList.register_user_id}"></span></td>
				<td><span th:text="*{userList.update_date}"></span></td>
				<td><span th:text="*{userList.update_user_id}"></span></td>
			</tr>
		</tbody>
	</table>
	<!-- 共通スクリプト -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>