<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8">
<title>就活ポータルトップ</title>
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>
</head>

<body>
	<th:block th:insert="components/part::frag_header"></th:block>
	
	<div>
		<input type="button" class="btn btn-primary" value="新規作成" th:onclick="'window.location.href = \'' + @{/request/insert} + '\''">
		<input type="button" class="btn btn-primary" value="申請一覧" th:onclick="'window.location.href = \'' + @{/request/list} + '\''">
		<input type="button" class="btn btn-primary" value="報告一覧" th:onclick="'window.location.href = \'' + @{/report/list} + '\''">
		<input type="button" class="btn btn-primary" value="イベント情報 登録" th:onclick="'window.location.href = \'' + @{/event-registration} + '\''">
		<input type="button" class="btn btn-primary" value="申請一覧 出力" th:onclick="'window.location.href = \'' + @{/csv} + '\''">
		
	</div>
	
	<th:block th:insert="components/part::frag_script"></th:block>

	
</body>
</html>