<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8">
<title>就活ポータルトップ</title>
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>
</head>

<body>
	<th:block th:insert="components/part::frag_header"></th:block>
	


	<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-8">
                <div class="card center-block" style="border-radius:75px;">
                    <div class="card-body">
                        <h3 class="card-title">就職活動申請</h3>
                        <div class="btn-group-vertical btn-group-lg w-50" role="group">
                            <input type="button" class="btn btn-primary mt-5" value="新規作成"
							th:onclick="'window.location.href = \'' + @{/job/request/insert} + '\''">
                            <input type="button" class="btn btn-primary mt-5" value="申請一覧"
							th:onclick="'window.location.href = \'' + @{/job/request/list} + '\''">
                            <input type="button" class="btn btn-primary mt-5" value="報告一覧"
							th:onclick="'window.location.href = \'' + @{/job/report/list} + '\''">
                            <input type="button" class="btn btn-primary mt-5" value="イベント情報 登録"
							th:onclick="'window.location.href = \'' + @{/job/event-registration} + '\''">
							
							<th:block role="presentation" sec:authorize="hasAnyRole('ROLE_TEACHER', 'ROLE_STAFF')">
                            <input type="button" class="btn btn-primary mt-5 mb-5" value="申請一覧 出力"
							th:onclick="'window.location.href = \'' + @{/job/csv} + '\''">
							</th:block>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<th:block th:insert="components/part::frag_script"></th:block>

	
</body>
</html>