<html '5893'>
    <head '5894'>
    <meta '5895' charset="UTF-8">
    <title '5896'>ユーザ管理</title>
    <script '5897' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>


    <!-- FontAwesome -->
    <link '5898' href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


    <link '5899' rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style '5900'>
        .user-form-label{
            color: #1A72B3;
            font-weight: 600;
        }
        
        .card>hr {
            margin-left: 0;
            height: 13px;
            background-color: #F34C53;
            width: 70%;
            border: none;
            margin: 0 auto;
            padding-left: 30px;
            text-align: center;
        }
        
        body {
            background: linear-gradient(-180deg, rgb(255, 247, 251), rgb(255, 221, 219));
        }
        
    </style>

</head>

<body '5901'>

    <div '5902' class="container">
        <div '5903' class="content-box">
           
            <p '5904' th:text="${errmsg}" style="background-color: #ffcc99;"></p>
           
            <div '5905' class="card shadow-sm p-3 mb-5 bg-white rounded">
                <hr '5906'>
                <div '5907' class="card-body">
                    <form '5908' method="post" name="userInsert" th:action="@{/user/insert}"
                          th:object="${userFormForInsert}">
                        <div '5909' class="row mb-3">
                            <div '5910' class="d-block d-lg-none col-md-12">
                                <div '5911'>
                                    <label '5912' for="user_id" class="user-form-label">ユーザID（メールアドレス）<span '5913' class="badge bg-danger text-white">必須</span></label>
                                    <input '5914' type="text" class="form-control" name="user_id"
                                           id="user_id" placeholder="例)xxx@xxx.xx" th:field="*{user_id}"
                                           oninput="data_input()" />
                                </div>
                            </div>

                            <div '5915' class="d-none d-lg-block col-md-12">
                                <div '5916' class="row ml-5">

                                    <div '5917' class="col-md-4 mt-5 ml-4">
                                        <div '5918' class="row">
                                            <div '5919' class="col-md-10">
                                                <span '5920' class="user-form-label">ユーザID（メールアドレス）</span>
                                            </div>

                                            <div '5921' class="">
                                                <span '5922' class="badge bg-danger text-white">必須</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div '5923' class="col-md-7 mt-1 pl-2">
                                        <label '5924' for="user_id" class="col-sm-11 col-form-label text-secondary">例）xxx@xxx.xx</label>
                                        <div '5925' class="col-sm-11">
                                            <input '5926' type="text" class="form-control" name="user_id"
                                                   id="user_id" th:field="*{user_id}"
                                                   oninput="data_input()" />
                                            <span '5927' class="text-danger"
                                                  th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">user_id
                                                error</span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        
                        <div '5928' class="row mb-3">
                            <div '5929' class="d-block d-lg-none col-md-12">
                                <div '5930'>
                                    <label '5931' for="encrypted_password" class="user-form-label">パスワード<span '5932' class="badge bg-danger text-white">必須</span></label>
                                    <input '5933' type="password" class="form-control"
                                           id="encrypted_password" name="encrypted_password"
                                           placeholder="4～100文字で入力すること" th:field="*{encrypted_password}"
                                           oninput="data_input()" />
                                </div>
                            </div>

                            <div '5934' class="d-none d-lg-block col-md-12">
                                <div '5935' class="row ml-5">

                                    <div '5936' class="col-md-4 mt-5 ml-4">
                                        <div '5937' class="row">
                                            <div '5938' class="col-md-10">
                                                <span '5939' class="user-form-label">パスワード</span>
                                            </div>

                                            <div '5940' class="">
                                                <span '5941' class="badge bg-danger text-white">必須</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div '5942' class="col-md-7 mt-1 pl-2">
                                        <label '5943' for="encrypted_password" class="col-sm-11 col-form-label text-secondary">4～100文字で入力しててください</label>
                                        <div '5944' class="col-sm-11">
                                            <input '5945' type="password" class="form-control"
                                                   id="encrypted_password" name="encrypted_password"
                                                   th:field="*{encrypted_password}"
                                                   oninput="data_input()" />
                                            <span '5946' class="text-danger"
                                                  th:if="${#fields.hasErrors('encrypted_password')}"
                                                  th:errors="*{encrypted_password}">encrypted_password error</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        
                        
                        <div '5947' class="row mb-3">
                            <div '5948' class="d-block d-lg-none col-md-12">
                                <div '5949'>
                                    <label '5950' for="name" class="user-form-label">氏名<span '5951' class="badge bg-danger text-white">必須</span></label>
                                    <input '5952' type="text" class="form-control" name="name"
                                           id="name" placeholder="例)情報太郎" th:field="*{name}"
                                           oninput="data_input()" />
                                </div>
                            </div>

                            <div '5953' class="d-none d-lg-block col-md-12">
                                <div '5954' class="row ml-5">

                                    <div '5955' class="col-md-4 mt-5 ml-4">
                                        <div '5956' class="row">
                                            <div '5957' class="col-md-10">
                                                <span '5958' class="user-form-label">氏名</span>
                                            </div>

                                            <div '5959' class="">
                                                <span '5960' class="badge bg-danger text-white">必須</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div  class="col-md-7 mt-1 pl-2">
                                        <label for="name" class="col-sm-11 col-form-label text-secondary">例）情報太郎</label>
                                        <div  class="col-sm-11">
                                            <input  type="text" class="form-control" name="name"
                                                   id="name" th:field="*{name}"
                                                   oninput="data_input()" />
                                            <span class="text-danger"
                                                  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name
                                                error</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                        <div '5966' class="row mb-3">
                            <div '5967' class="d-block d-lg-none col-md-12">
                                <div '5968'>
                                    <label '5969' for="role" class="user-form-label">権限<span '5970' class="badge bg-danger text-white">必須</span></label>
                                    <input '5971' type="radio" name="role" id="role" value="ROLE_STUDENT" onclick="clickBtn1()" checked>学生
                                    <input '5972' type="radio" name="role" id="role" value="ROLE_TEACHER" onclick="clickBtn2()">担任
                                    <input '5973' type="radio" name="role" id="role" value="ROLE_STAFF" onclick="clickBtn2()">事務
                                </div>
                            </div>

                            <div '5974' class="d-none d-lg-block col-md-12">
                                <div '5975' class="row ml-5">

                                    <div '5976' class="col-md-4 mt-5 ml-4">
                                        <div '5977' class="row mt-1">
                                            <div '5978' class="col-md-10">
                                                <span '5979' class="user-form-label">権限</span>
                                            </div>

                                            <div '5980' class="">
                                                <span '5981' class="badge bg-danger text-white">必須</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div '5982' class="col-md-7 mt-1 pl-2">
                                        <div '5983' class="col-sm-11 mt-5">
                                            <input '5984' type="radio" name="role" id="role" value="ROLE_STUDENT" onclick="clickBtn1()" checked>学生
                                            <input '5985' type="radio" name="role" id="role" value="ROLE_TEACHER" onclick="clickBtn2()">担任
                                            <input '5986' type="radio" name="role" id="role" value="ROLE_STAFF" onclick="clickBtn2()">事務
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                        
                        
                        <div '5987' class="row mb-3">
                            <div '5988' class="d-block d-lg-none col-md-12">
                                <div '5989'>
                                    <label '5990' for="role" class="user-form-label">クラス番号</label>
                                    <div '5991' class="row">
                                        <div '5992' class="col-md-6">
                                            <label '5993' for="dis1" class="col-sm-6 col-form-label text-secondary">SXAY</label>
                                            <div '5994' class="col">
                                                <input '5995' type="text" class="form-control" name="classroom" id="dis1" th:field="*{classroom}">
                                            </div>
                                        </div>

                                        <div '5996' class="col-md-6">
                                            <label '5997' for="dis2" class="col-sm-6 col-form-label text-secondary">00</label>
                                            <div '5998' class="col">
                                                <input '5999' type="text"
                                                       class="form-control" name="class_number" 
                                                       id="dis2" th:field="*{class_number}">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div '6000' class="d-none d-lg-block col-md-12">
                                <div '6001' class="row ml-5">

                                    <div '6002' class="col-md-4 mt-5 ml-4">
                                        <div '6003' class="row mt-2">
                                            <div '6004' class="col-md-10">
                                                <span '6005' class="user-form-label">クラス番号</span>
                                            </div>

                                        </div>
                                    </div>


                                    <div '6006' class="col-md-7 mt-1 pl-2">
                                        <div '6007' class="col-sm-11 mt-2">
                                            <div '6008' class="row">
                                               <div '6009' class="col-md-6">
                                                <label '6010' for="dis1" class="col-sm-6 col-form-label text-secondary">SXAY</label>
                                                <div '6011' class="col">
                                                    <input '6012' type="text" class="form-control" name="classroom" id="dis1" th:field="*{classroom}">
                                                    <span '6013' class="text-danger" th:if="${#fields.hasErrors('classroom')}"
                                                          th:errors="*{classroom}">name error</span>
                                                </div>
                                                </div>
                                                
                                                <div '6014' class="col-md-6">
                                                <label '6015' for="dis2" class="col-sm-6 col-form-label text-secondary">00</label>
                                                <div '6016' class="col">
                                                    <input '6017' type="text"
                                                           class="form-control" name="class_number" 
                                                           id="dis2" th:field="*{class_number}">
                                                    <span '6018' class="text-danger"
                                                          th:if="${#fields.hasErrors('class_number')}"
                                                          th:errors="*{class_number}">name error</span>
                                                </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </form>



                </div>
            </div>
        </div>
    </div>
    





    <script '6019' src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script '6020' src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script '6021' src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body></html>