<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>ログイン画面</title>
<th:block th:insert="components/part::frag_mobile"></th:block>
<th:block th:insert="components/part::frag_icon"></th:block>
<th:block th:insert="components/part::frag_style"></th:block>
</head>

<body>
	<div class="container">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">WebPortal.com</a>
		</h1>

		<hr>

		<h2>ログイン</h2>
		<div class="input-form">
			<!-- エラーメッセージ表示領域 -->
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
				class="text-danger">ログインエラーメッセージ</p>

			<form method="post" th:action="@{/login}">
				<label for="user_id">ユーザID(メールアドレス)</label> <input type="text"
					class="form-control input-box" name="user_id"
					placeholder="xxxxxxx@xxx.xxx"> <label for="password">パスワード</label>
				<input type="password" class="form-control input-box"
					name="password" placeholder="xxxxxxxx">
				<button type="submit" class="btn btn-primary">ログイン</button>
			</form>
		</div>

		<hr>

		<a th:href="@{'/signup'}">新規ユーザ登録はこちら</a>

	</div>
	
	<th:block th:insert="components/part::frag_script"></th:block>
</body>
</html>